body {
  background: lightslategrey;
}

h1 {
  color: #f00;
  text-align: center;
  background: darkslategrey;
  margin: auto;
  font-size: 100px;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

li {
  font-family: cursive;
}

a {
  text-decoration: none;
}

ul {
  font-size: 20px;
  line-height: 30px;
  list-style: none;
}

ol li {
  font-weight: bold;
  list-style: none;
}

img {
  height: 600px;
  width: auto;
}

.kimchee {
  width: 650px;
}
